* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #FAFAFA;
  transition: all 0.5s ease-in-out;
  text-shadow: 2px 2px 10px rgba(81, 81, 81, 0.8);
}

.preload {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.weather {
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fafafa;
  width: 600px;
  align-items: center;
  gap: 0.5rem;
}

.weather__block {
  width: 10%;
}

.weather input {
  color: #fafafa;
  width: 30%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  /*font-size: 0.7rem;*/
}

.name {
  min-width: 100px;
}

.time {
  font-size: 8rem;
}

.date {
  font-size: 2rem;
  margin-bottom: 3%;

}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.focus  {
  border: 2px solid #FAFAFA;
  padding: 1%;
  border-radius: 5px;
  margin-bottom: 3%;
  opacity: 1;
}

.switcher {
  display: block;
  margin-top: 4%;
  align-self: flex-end;
  min-width: 150px;
  background-color: transparent;
  color: #FAFAFA;
  border: 3px solid #FAFAFA;
  border-radius: 10px;
  padding: 1% 2% 1% 2%;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  opacity: 0.8;
}

.quotes {
  color: #FAFAFA;
  width: 70%;
  font-size: 1.4rem;
  margin-top: 3%;
}

.author {
  font-style: italic;
}

.weather__desk {
  font-size: 0.7rem;
}

.weather__wind-speed {
  font-size: 0.7rem;

}

@media (max-width: 768px) {
  .time {
    font-size: 6rem;
  }

  .date {
    font-size: 1.8rem;
  }

  .weather {
    width: 95%;
  }

  .weather__desk {
    font-size: 0;
    width: 0;
  }

  .weather input {
    font-size: 0.7rem;
  }
}

@media (max-width: 450px) {
  .time {
    font-size: 4.8rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
  }

  .focus  {
    border: 2px solid #FAFAFA;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    margin-bottom: 3%;
    opacity: 1;
  }

  .quotes {
    color: #FAFAFA;
    width: 98%;
    font-size: 1.2rem;
    margin-top: 4%;
    opacity: 0.8;
  }

  .author {
    align-self: flex-end;
  }

  .weather {
    width: 100%;
  }
}
