* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #FAFAFA;
  transition: all 0.5s ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.94);;
}

.preload {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.weather {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 2%;
  justify-content: space-around;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fafafa;
  width: 650px;
  align-items: center;
  gap: 0.5rem;
  text-shadow: inherit;
  backdrop-filter: blur(5px);
}

.weather__block {
  position: relative;
  width: 10%;
}

.weather input {
  color: #fafafa;
  width: 30%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  /*font-size: 0.7rem;*/
}

.weather__icon::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -5px;
  display: block;
  width: 2px;
  height: 40px;
  background-color: #ffffff;
}

.greeteting-name {
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 30px;
}

.name {
  min-width: 100px;
}

.time {
  font-family: 'Share Tech Mono', monospace;
  font-size: 8rem;
}

.date {
  font-size: 2rem;
  margin-bottom: 3%;

}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.focus  {
  border: 2px solid #FAFAFA;
  padding: 1%;
  border-radius: 5px;
  margin-bottom: 3%;
  opacity: 1;
}

.switcher {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin-top: 4%;
  align-self: flex-end;
  min-width: 150px;
  background-color: transparent;
  color: #FAFAFA;
  border: 3px solid #FAFAFA;
  border-radius: 10px;
  padding: 1% 2% 1% 2%;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  opacity: 0.8;
  backdrop-filter: blur(5px);
  transition: 0.3s all ease-in-out;
}

.switcher:hover {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}

.quotes {
  color: #FAFAFA;
  width: 70%;
  font-size: 1.4rem;
  margin-top: 3%;
}

.quote-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.author {
  font-style: italic;
}

.weather__desk {
  font-size: 0.9rem;
}

.weather__wind-speed {
  font-size: 0.9rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(-360deg);
    }
}

@keyframes spin-back {
  from {
    transform: rotate(360deg);
  } to {
      transform: rotate(0deg);
    }
}

#changeQuote {
  position: absolute;
  bottom: 30px;
  left: 10%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: none;
  border: 2px solid #ffffff;
  cursor: pointer;
  background-image: url("assets/images/circular-arrow-around-a-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  outline: none;
}

@media (max-width: 768px) {
  .time {
    font-size: 6rem;
  }

  .date {
    font-size: 1.8rem;
  }

  .weather {
    width: 95%;
  }

  .weather__desk {
    font-size: 0;
    width: 0;
  }

  .weather input {
    font-size: 0.7rem;
  }
}

@media (max-width: 450px) {
  .time {
    font-size: 4rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
  }

  .focus  {
    border: 2px solid #FAFAFA;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    margin-bottom: 3%;
    opacity: 1;
  }

  .quotes {
    color: #FAFAFA;
    width: 98%;
    font-size: 1.1rem;
    margin-top: 4%;
    opacity: 0.8;
  }

  .author {
    align-self: flex-end;
  }

  .weather {
    width: 100%;
  }

  #changeQuote {
    left: 30px;
    bottom: 20px;
  }

  greeteting-name {
    flex-direction: column;
  }

  .greeting {
    width: 100%;
  }

  .name {
    width: 100%;
  }
}
