@-webkit-keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@-webkit-keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

@keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

@font-face
{
    font-family: 'Arial Regular';
    font-weight: 400;
    font-style: normal;

    src: url('../../assets/fonts/Arial-regular.ttf');
}

@font-face
{
    font-family: 'Georgia Regular';
    font-weight: 400;
    font-style: normal;

    src: url('../../assets/fonts/Georgia-regular.ttf');
}

@font-face
{
    font-family: 'Georgia Regular';
    font-weight: 600;
    font-style: normal;

    src: url('../../assets/fonts/georgiab.ttf');
}

html
{
    overflow-x: hidden;
}

body
{
    font-family: 'Georgia Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    position: relative;

    overflow-x: hidden; 

    color: #545454;
    background-color: #fff;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

html
{
    box-sizing: border-box;
}

img
{
    max-width: 100%;
    height: auto;
}

.hidden
{
    opacity: 0;
}

.visible
{
    opacity: 1;
}

@keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

.main-header__wrapper
{
    position: relative;
    z-index: 1; 

    display: flex;

    max-width: 1280px;
    min-height: 180px;
    margin: 0 auto;
    padding-top: 60px;
    padding-right: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-left: 40px;

    flex-wrap: wrap;
    justify-content: space-between;
    will-change: transform;
}

.main-header__logo
{
    transition: all .2s ease-in-out;
}

.main-header__logo h1
{
    font-family: inherit;
    font-size: 2em;
    font-weight: 400;
    line-height: 36px;

    margin: 0;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: 3px; 

    color: #f1cdb3;
}

.main-header__logo span
{
    font-family: inherit;
    font-family: 'Arial';
    font-size: .9em;
    font-weight: 400;
    line-height: 36px;

    margin: 0;
    padding: 0;
    padding-left: 4px;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: 1.1px; 

    color: #fff;
}

.main-header__logo--nav
{
    display: none;
}

nav
{
    width: 37%;
}

nav .main-header__menu-list
{
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 18px;

    border-collapse: collapse; 
    list-style: none;

    text-decoration: none;

    flex-wrap: wrap;
    justify-content: space-between;
}
nav .main-header__menu-list a
{
    font-family: inherit;
    font-family: 'Arial Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    display: block;

    margin: 0;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    transition: all .3s ease-out;
    text-decoration: none;
    letter-spacing: .5px; 

    color: #cdcdcd;
}

nav .main-header__menu-list a:hover
{
    color: #fafafa;
}
nav .main-header__menu-list a:hover::before
{
    transition: all .3s ease-out; 

    background-color: #fafafa;
}

nav .main-header__menu-list .main-header__menu-list__item__link--active
{
    position: relative;

    color: #fafafa;
}

.main-header__menu-list__item__link--active::before
{
    position: absolute;
    bottom: -5px;
    left: 1px;

    display: block;

    width: 100%;
    height: 2px;

    content: '';

    background-color: #f1cdb3;
}

.modal-background
{
    display: none;
}

@keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

.intro
{
    background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.intro__wrapper
{
    position: relative;

    display: flex;
    flex-direction: row;

    max-width: 1280px;
    min-height: 908px; 
    margin: 0 auto;
    margin-top: -180px;
    padding-right: 10px;
    padding-right: 40px;
    padding-left: 10px;
    padding-left: 40px;

    align-items: center;
    justify-content: space-between;
}

.intro__text-content
{
    display: flex;
    flex-direction: column;

    width: 40%;
    min-height: 500px;
    padding-right: 10px;
}

.intro__title
{
    font-family: inherit;
    font-family: 'Georgia Regular';
    font-size: 2.75em;
    font-weight: 400;
    line-height: 58px;

    display: block;

    margin: 0;
    padding: 0;
    padding-top: 138px;
    padding-right: 150px;
    padding-bottom: 40px;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: 1.4px; 

    color: #fff;
}

.intro__text-content p
{
    font-family: inherit;
    font-family: 'Arial Regular';
    font-size: 1em;
    font-weight: 400;
    line-height: 160%;

    margin: 0;
    padding: 0;
    padding-bottom: 41px; 

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;

    color: #cdcdcd;
}

.intro__button
{
    font-family: inherit;
    font-family: inherit;
    font-size: 14px;
    font-size: 1.1em;
    font-weight: 700;
    font-weight: 400;
    line-height: 17px;
    line-height: 22px;

    display: block;

    margin: 0 auto;
    margin-left: 0;
    padding: 15px 45px 15px 45px;

    cursor: pointer;
    transition: all .3s ease-out;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.3px;

    color: #292929;
    border-radius: 30px; 
    outline: none;
    background-color: #f1cdb3;
}
.intro__button:hover
{
    transition: .3s;

    color: #292929; 
    background-color: #fddcc4;
}
.intro__button:active
{
    transition: .1s;

    color: rgba(255, 255, 255, .3);
    box-shadow: inset 0 3px 1px 0 #151414;
}

.intro__picture
{
    display: flex;

    width: 60%;
    padding-left: 25px; 

    align-items: flex-end;
    align-self: flex-end;
}

@keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

.about__wrapper
{
    position: relative;

    display: flex;
    flex-direction: row;

    max-width: 1280px;
    margin: 0 auto;
    padding-top: 80px;
    padding-right: 10px; 
    padding-bottom: 93px;
    padding-left: 10px;

    align-items: center;
    justify-content: space-between;
}

.about__picture
{
    width: 49.5%; 
    padding-left: 16.4%;
}

.about__text-content
{
    display: flex;
    flex-direction: column;

    width: 50.5%; 
    min-height: 400px;
    padding-top: 8px;
    padding-left: 2px;
}

.about__text-content__title
{
    font-family: inherit;
    font-family: 'Georgia Regular';
    font-size: 2.3em;
    font-weight: 400;
    line-height: 130%;

    margin: 0;
    padding: 0;
    padding-right: 300px;
    padding-bottom: 4%;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: 2.2px; 

    color: #545454;
}

.about__text-content p
{
    font-family: inherit;
    font-family: 'Arial Regular';
    font-size: 1em;
    font-weight: 400;
    line-height: 160%;

    width: 68%; 
    margin: 0;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;

    color: #4c4c4c;
}

.about__text-content p:nth-child(2)
{
    padding-bottom: 4%;
}

@keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

.our-friends
{
    background-color: #f6f6f6;
}

.our-friends__wrapper
{
    position: relative;

    display: flex;
    flex-direction: column;

    max-width: 1280px;
    margin: 0 auto;
    padding-top: 4.3%;
    padding-right: 10px;
    padding-bottom: 5.2%; 
    padding-left: 10px;

    align-items: center;
}

.our-friends__title
{
    font-family: inherit;
    font-family: 'Georgia Regular';
    font-size: 2.4em;
    font-weight: 400;
    line-height: 130%;

    margin: 0;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-align: center;
    text-decoration: none;
    letter-spacing: 1.5px; 

    color: #545454;
}

.our-friends__slider
{
    overflow: hidden;

    width: 990px;
    height: 100%;
    margin-bottom: 5px;
    padding-top: 4.5%;
    padding-bottom: 4.5%; 

    background-color: #f6f6f6;
}

.our-friends__slider__item
{
    display: flex;
    flex-direction: column;

    width: 270px;
    min-height: 435px;

    cursor: pointer; 
    transition: all .2s ease;

    border-radius: 10px;
    background-color: #fafafa;

    align-items: center;
    justify-content: flex-start;
}
.our-friends__slider__item:hover
{
    background-color: #fff;
}

.our-friends__slider__item__picture
{
    width: 100%; 
    padding-bottom: 26px;
}

.our-friends__slider__item__name
{
    font-family: inherit;
    font-family: 'Georgia Regular';
    font-size: 1.3em;
    font-weight: 400;
    line-height: 130%;

    margin: 0;
    padding: 0;
    padding-bottom: 28px; 

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: 1.5px;

    color: #545454;
}

.our-friends__slider__item__button
{
    font-family: inherit;
    font-family: inherit;
    font-size: 14px;
    font-size: 1.2em;
    font-weight: 700;
    font-weight: 400;
    line-height: 17px;
    line-height: 120%;

    display: block;

    margin: 0 auto;
    padding: 15px 45px 15px 45px;
    padding: 15px 42px 15px 42px; 

    cursor: pointer;
    transition: all .3s ease-out;
    text-align: center;
    text-decoration: none;
    letter-spacing: .7px;

    color: #292929;
    border: 2px solid #f1cdb3;
    border-radius: 30px;
    outline: none;
    background-color: #f1cdb3;
    background-color: transparent;
}
.our-friends__slider__item__button:hover
{
    transition: .3s;

    color: #292929; 
    background-color: #fddcc4;
}
.our-friends__slider__item__button:active
{
    transition: .1s;

    color: rgba(255, 255, 255, .3);
    box-shadow: inset 0 3px 1px 0 #151414;
}
.our-friends__slider__item__button:hover
{
    border-color: #fddcc4;
}

.our-friends__button
{
    font-family: inherit;
    font-family: inherit;
    font-size: 14px;
    font-size: 1.2em;
    font-weight: 700;
    font-weight: 400;
    line-height: 17px;
    line-height: 120%;

    display: block;

    margin: 0 auto;
    padding: 15px 45px 15px 45px;

    cursor: pointer;
    transition: all .3s ease-out;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5px; 

    color: #292929;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #f1cdb3;
}
.our-friends__button:hover
{
    transition: .3s;

    color: #292929; 
    background-color: #fddcc4;
}
.our-friends__button:active
{
    transition: .1s;

    color: rgba(255, 255, 255, .3);
    box-shadow: inset 0 3px 1px 0 #151414;
}

.our-friends__slider__control
{
    font-size: 0;

    position: absolute;

    width: 52px;
    height: 52px;

    cursor: pointer;
    transition: all .3s ease;

    border: 2px solid #f1cdb3;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    background-image: url('../../assets/images/Arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.our-friends__slider__control:hover
{
    border-color: #fddcc4; 
    background-color: #fddcc4;
}

.our-friends__slider__control--prev
{
    top: 51.2%;
    left: 38px;

    margin-top: -25px;
}

.our-friends__slider__control--next
{
    top: 51.2%;
    right: 38px;

    margin-top: -25px;

    transform: rotate(180deg);
}

@keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

.help
{
    background-color: #fff;
}

.help__wrapper
{
    display: flex;
    flex-direction: column;

    max-width: 1280px;
    margin: 0 auto;
    padding-top: 4.2%;
    padding-right: 10px;
    padding-bottom: 2.5%; 
    padding-left: 10px;

    justify-content: center;
    align-items: center;
}

.help__title
{
    font-family: inherit;
    font-family: 'Georgia Regular';
    font-size: 2.4em;
    font-weight: 400;
    line-height: 130%;

    width: 25%;
    margin: 0;
    margin-bottom: 4.7%;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-align: center;
    text-decoration: none;
    letter-spacing: 1.5px; 

    color: #545454;
}

.help__item-container
{
    display: flex;
    flex-direction: row;

    width: 100%;
    padding-right: 4%;
    padding-left: 3%;

    flex-wrap: wrap;
    justify-content: center;
}

.help__item-container__item
{
    display: flex;
    flex-direction: column;

    width: 20%;
    margin-bottom: 4.4%; 

    justify-content: flex-start;
    align-items: center;
}
.help__item-container__item p
{
    font-family: inherit;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 130%;

    margin: 0;
    padding: 0;
    padding-top: 30px;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: 1.4px; 

    color: #545454;
}

.help__item-container__item:nth-child(4)
{
    position: relative;
    left: -1%;
}

.help__item-container__item:nth-child(6)
{
    margin-left: -5%;
}

.help__item-container__item:nth-child(7)
{
    position: relative;
    left: -1.5%;
}

.help__item-container__item:last-child
{
    position: relative;
    left: 3.3%;
}

@keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

.donation
{
    background-color: #f6f6f6;
}

.donation__wrapper
{
    display: flex;
    flex-direction: row;

    max-width: 1280px;
    margin: 0 auto;
    padding-top: 4.8%;
    padding-right: 10px;
    padding-bottom: 5.25%; 
    padding-left: 10px;
}

.donation__picture
{
    width: 55%;
    padding-left: 13.7%;
}

.donation__text-content
{
    display: flex;
    flex-direction: column;

    width: 45%; 
    padding-left: 1.2%;

    align-items: flex-start;
    justify-content: flex-start;
}

.donation__text-content h2
{
    font-family: inherit;
    font-size: 2.3em;
    font-weight: 400;
    line-height: 139%;

    position: relative;
    top: -5%;

    width: 55%;
    margin: 0;
    padding: 0;
    padding-bottom: 4px; 

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: 2.3px;

    color: #545454;
}

.donation__text-content span
{
    font-family: inherit;
    font-size: 1em;
    font-weight: 400;
    line-height: 139%;

    margin: 0;
    padding: 0;
    padding-bottom: 3%; 

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: .9px;
}

.donation__text-content a
{
    font-family: inherit;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 120%;

    position: relative;

    display: block;

    margin: 0;
    margin-bottom: 4%;
    padding: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 60px;

    border-collapse: collapse;
    list-style: none;

    transition: all .3s ease; 
    text-decoration: none;
    letter-spacing: 1.4px;

    color: #545454;
    border-radius: 9px;
    background-color: #f1cdb3;
}
.donation__text-content a::before
{
    position: absolute;
    top: 10px;
    left: 3.8%;

    display: block;

    width: 30px;
    height: 23px;

    content: '';

    background-image: url('../../assets/images/credit-card.png');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}
.donation__text-content a:hover
{
    font-weight: 700;

    transition: .3s;

    color: #292929; 
    background-color: #fddcc4;
}

.donation__text-content p
{
    font-family: inherit;
    font-size: .8em;
    font-weight: 400;
    font-style: italic;
    line-height: 150%;

    width: 65%;
    margin: 0;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;

    color: #b2b2b2;
}

@keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

.pop-up
{
    z-index: 1000; 

    max-width: 1280px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.pop-up__wrapper
{
    position: fixed;
    z-index: 1000;
    top: calc(50% - 297px);
    left: 50%;

    display: flex;

    width: 900px;
    min-height: 500px;
    margin: 0 auto;
    margin-left: -450px;
    padding-left: 1px;

    -webkit-animation: .4s fadeInRight ease;
            animation: .4s fadeInRight ease; 

    border-radius: 10px;
    background-color: #fafafa;
}
.pop-up__wrapper button
{
    font-size: 0;

    position: absolute;
    top: -52px;
    right: -42px;

    width: 52px;
    height: 52px;

    transition: all .2s ease; 

    border: 2px solid #f1cdb3;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('../../assets/images/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    background-size: 32% 32%;
}
.pop-up__wrapper button:hover
{
    cursor: pointer; 

    background-color: #f1cdb3;
}

.pop-up__background
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100vh;
    margin: auto;

    cursor: pointer;
    transition: all .2s linear; 

    background-color: rgba(41, 41, 41, .6);
}

.pop-up__background:hover ~ .pop-up__wrapper #closePopUp
{
    background-color: #f1cdb3;
}

.pop-up__picture
{
    flex-basis: 55%;
}
.pop-up__picture img
{
    display: block;

    width: 100%;
}

.pop-up__content
{
    padding-left: 35px; 

    flex-basis: 45%;
}

.pop-up__content__name
{
    font-family: inherit;
    font-family: 'Georgia Regular';
    font-size: 2.3em;
    font-weight: 400;
    line-height: 120%;

    margin: 0;
    padding: 0;
    padding-top: 54px;
    padding-bottom: 10px;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: .15rem;

    color: #000;
}

.pop-up__content__type
{
    font-family: 'Georgia Regular';
    font-family: inherit;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 120%;

    margin: 0;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: .05rem;

    color: #000;
}

.pop-up__content__depict
{
    font-family: inherit;
    font-size: 1em;
    font-weight: 400;
    line-height: 118%;

    margin: 0;
    margin-bottom: 40px; 
    padding: 0;
    padding-top: 38px;
    padding-right: 20px;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: .055rem;

    color: #000;
}

.pop-up__content__property-list
{
    margin: 0;
    padding: 0;
    padding-left: 14px; 

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
}
.pop-up__content__property-list li
{
    font-family: inherit;
    font-family: 'Georgia Regular';
    font-size: 1.1em;
    font-weight: 400;
    line-height: 100%;

    position: relative;

    margin-bottom: 12px;

    letter-spacing: .08rem;

    color: #000;
}
.pop-up__content__property-list li span
{
    font-weight: 600;
}
.pop-up__content__property-list li::before
{
    position: absolute;
    top: 7px;
    left: -15px;

    display: block;

    width: 4px;
    height: 4px;

    content: '';

    border-radius: 50%; 
    background-color: #f1cdb3;
}

@keyframes fadeInRight
{
    from
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes fadeInLeft
{
    from
    {
        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
    to
    {
        transform: translate3d(100%, 0, 0); 

        opacity: 0;
    }
}

footer
{
    background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer__wrapper
{
    position: relative;

    display: flex;

    max-width: 1280px;
    margin: 0 auto;
    padding-top: 36px;
    padding-right: 10px; 
    padding-left: 10px;

    justify-content: space-between;
}

.footer__contact,
.footer__location
{
    display: flex;
    flex-direction: column;

    width: 35%; 
    padding-left: 2.5%;

    align-items: baseline;
}
.footer__contact span,
.footer__location span
{
    font-family: inherit;
    font-family: 'Georgia Regular';
    font-size: 2.3em;
    font-weight: 400;
    line-height: 135%;

    width: 70%;
    margin: 0;
    padding: 0;
    padding-top: 5.1%;
    padding-bottom: 8%;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: .06em; 

    color: #fff;
}

.footer__picture
{
    width: 30%;
    padding-left: 4%;
}

footer a
{
    font-family: inherit;
    font-family: 'Georgia Regular';
    font-size: 1.3em;
    font-weight: 400;
    line-height: 120%;

    position: relative;

    margin: 0;
    padding: 0;
    padding-bottom: 12%;
    padding-left: 14.9%;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    letter-spacing: .06em; 

    color: #f1cdb3;
}

.footer__location a
{
    width: 90%;
    padding-bottom: 9%; 
    padding-left: 9.5%;
}
.footer__location a::before
{
    position: absolute;
    top: 5px;
    left: -3px;

    display: block;

    width: 22px;
    height: 32px;

    content: '';

    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

.footer__location__address::before
{
    background-image: url('../../assets/images/icon-marker.png');
}

.footer__location__address:nth-child(3)::before
{
    top: -8px;

    background-image: url('../../assets/images/icon-marker.png');
}

.footer__contact a
{
    padding-top: 2.3%;
    padding-bottom: 10%;
}
.footer__contact a::before
{
    position: absolute;
    top: 5px;
    left: 0;

    display: block;

    width: 40px;
    height: 32px;

    content: '';

    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

.footer__contact__mail::before
{
    background-image: url('../../assets/images/icon-email.png');
}

.footer__contact__phone::before
{
    background-image: url('../../assets/images/icon-phone.png');
}

.footer__picture
{
    height: 314px;
}

.footer__picture img
{
    position: relative;
    top: -1px;
}

@media (max-width: 1279px)
{
    .main-header__wrapper
    {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px; 
        padding-left: 4%;
    }
    nav
    {
        min-width: 62.5%;
    }
    nav .main-header__menu-list
    {
        gap: 1.5rem;
    }
    .intro__wrapper
    {
        flex-direction: column;

        min-height: 1165px; 

        align-items: center;
    }
    .intro__text-content
    {
        width: 70%; 
        padding-left: 12px;
    }
    .intro__title
    {
        font-family: inherit;
        font-size: 2.75em;
        font-weight: 400;
        line-height: 58px;

        padding-top: 150px;
        padding-right: 10%;
        padding-bottom: 40px;
    }
    .intro__button
    {
        margin: 0 auto;
    }
    .intro__picture
    {
        position: relative;
        left: 10px;

        width: 83%; 
        padding-left: 0;
    }
    .about__wrapper
    {
        flex-direction: column;

        padding-top: 9.5%;
        padding-bottom: 12%;

        align-items: center;
    }
    .about__picture
    {
        order: 1;
    }
    .about__text-content
    {
        display: flex;
        flex-direction: column;

        width: 59%;
        margin-bottom: 9%; 

        order: 0;
    }
    .about__text-content__title
    {
        padding-right: 15%;
        padding-bottom: 6%;

        letter-spacing: 2.2px;
    }
    .about__text-content p
    {
        width: 100%;
    }
    .about__text-content p:nth-child(2)
    {
        padding-bottom: 5%;
    }
    .about__picture
    {
        position: relative;

        width: 300px; 
        padding-left: 0;
    }
    .our-friends__wrapper
    {
        padding-top: 11%;
        padding-bottom: 13%;
    }
    .our-friends__slider
    {
        width: 580px;
        padding-top: 7.4%;
        padding-bottom: 5%;
    }
    .our-friends__slider__item
    {
        width: 270px;
    }
    .our-friends__slider__item.extractable-tablet
    {
        display: none !important;
    }
    .our-friends__slider
    {
        margin-bottom: 3%;
    }
    .our-friends__slider__control--prev
    {
        left: 28px;
    }
    .our-friends__slider__control--next
    {
        right: 28px;
    }
    .help__wrapper
    {
        padding-top: 10.6%;
        padding-bottom: 6%;
    }
    .help__title
    {
        width: 50%;
        margin-bottom: 7.8%;
    }
    .help__item-container
    {
        width: 88%;
        padding-right: 0;
        padding-left: 0;

        justify-content: space-between;
    }
    .help__item-container__item
    {
        width: 30%;
        margin-bottom: 8.3%; 

        gap: 1.5rem;
    }
    .help__item-container__item:nth-child(4)
    {
        position: relative;
        left: 0;
    }
    .help__item-container__item:nth-child(6)
    {
        margin-left: 0;
    }
    .help__item-container__item:nth-child(7)
    {
        position: relative;
        left: 0;
    }
    .help__item-container__item:last-child
    {
        position: relative;
        left: 0;
    }
    .help__item-container__item p
    {
        padding-top: 5px;
    }
    .donation__wrapper
    {
        flex-direction: column;

        padding-top: 10%;
        padding-bottom: 13%; 

        align-items: center;
    }
    .donation__picture
    {
        width: 100%;
        padding-left: 0;

        order: 1;
    }
    .donation__picture img
    {
        display: block;

        margin: 0 auto;
    }
    .donation__text-content
    {
        width: 53%;

        order: 0;
    }
    .donation__text-content h2
    {
        width: 80%;
        padding-bottom: 17px;
    }
    .donation__text-content span
    {
        padding-bottom: 4%;
    }
    .donation__text-content a
    {
        margin-bottom: 5.5%;
    }
    .donation__text-content p
    {
        width: 95%;
        margin-bottom: 16%;
    }
    .pop-up__wrapper
    {
        left: 50%;

        width: 630px;
        min-height: 350px;
        margin-left: -315px;
    }
    .pop-up__content
    {
        padding-left: 15px;
    }
    .pop-up__content__name
    {
        padding-top: 12px;
    }
    .pop-up__content__depict
    {
        font-family: inherit;
        font-size: .85em;
        font-weight: 400;
        line-height: 115%;

        margin: 0;
        margin-bottom: 20px; 
        padding: 0;
        padding-top: 20px;
        padding-right: 5px;

        border-collapse: collapse;
        list-style: none;

        text-decoration: none;
    }
    .pop-up__content__property-list li
    {
        font-family: inherit;
        font-size: 1em;
        font-weight: 400;
        line-height: 100%;

        margin-bottom: 8px;

        letter-spacing: .06rem;
    }
    .footer__wrapper
    {
        padding-top: 12px;

        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__contact,
    .footer__location
    {
        width: 45%; 

        justify-content: flex-start;
        align-items: baseline;
    }
    .footer__contact span,
    .footer__location span
    {
        width: 90%; 
        padding-bottom: 10%;
    }
    .footer__location a
    {
        width: 100%;
        margin-bottom: 3.8%; 
        padding-left: 13%;
    }
    .footer__contact a
    {
        padding-top: 14px;
        padding-left: 18.4%;
    }
    .footer__picture
    {
        width: 52%;
        margin-top: 25px;
        padding-left: 5.7%;
    }
    .footer__picture img
    {
        display: block;
    }
}

@media (max-width: 767px)
{
    .main-header__wrapper
    {
        z-index: 1; 

        padding-left: 10px;
    }
    .main-header__logo
    {
        overflow: hidden;
    }
    .main-header__logo--nav
    {
        position: absolute;
        top: 30px;
        left: 10px; 

        display: block;
    }
    nav
    {
        position: absolute;
        top: 0;
        right: -320px;

        display: none; 
        overflow-x: hidden;

        width: 320px;
        min-width: 320px;
        min-height: 100vh;
        padding-top: 30%;

        transition: all .3s ease-in-out;
    }
    .nav-toggle
    {
        position: relative;
        z-index: 10;
        top: 20px;
        right: 8%;

        display: block;

        height: 22px;

        cursor: pointer;
        transition: all .2s ease;
    }
    .nav-toggle span
    {
        position: relative;

        display: block;

        width: 30px;
        height: 2px;
        margin-bottom: 8px;

        transition: all .25s; 

        background-color: #f1cdb3;
    }
    .nav-toggle.open
    {
        transform: rotate(90deg);
    }
    nav .main-header__menu-list
    {
        flex-direction: column;

        padding-top: 43.8%; 

        justify-content: center;
        align-items: center;
    }
    nav .main-header__menu-list a
    {
        font-family: inherit;
        font-family: 'Arial Regular';
        font-size: 2em;
        font-weight: 400;
        line-height: 145%;

        margin-bottom: 26px; 

        letter-spacing: .06rem;
    }
    .main-header__menu-list__item__link--active::before
    {
        height: 3px;
    }
    @-webkit-keyframes fadeInRight
    {
        from
        {
            transform: translate3d(100%, 0, 0); 

            opacity: 0;
        }
        to
        {
            transform: translate3d(0, 0, 0); 

            opacity: 1;
        }
    }
    @keyframes fadeInRight
    {
        from
        {
            transform: translate3d(100%, 0, 0); 

            opacity: 0;
        }
        to
        {
            transform: translate3d(0, 0, 0); 

            opacity: 1;
        }
    }
    @-webkit-keyframes fadeInLeft
    {
        from
        {
            transform: translate3d(0, 0, 0); 

            opacity: 1;
        }
        to
        {
            transform: translate3d(100%, 0, 0); 

            opacity: 0;
        }
    }
    @keyframes fadeInLeft
    {
        from
        {
            transform: translate3d(0, 0, 0); 

            opacity: 1;
        }
        to
        {
            transform: translate3d(100%, 0, 0); 

            opacity: 0;
        }
    }
    nav.collapse
    {
        position: fixed;
        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;

        width: 320px;
        height: 100vh;
        padding-bottom: 5%;

        -webkit-animation: .2s fadeInRight ease;
                animation: .2s fadeInRight ease; 

        background-color: #545454;
    }
    nav.closed
    {
        display: flex;

        -webkit-animation: .25s fadeInLeft ease;
                animation: .25s fadeInLeft ease;
    }
    .modal-background
    {
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;

        display: none;

        width: 100%;
        height: 100vh;
        margin: auto;

        transition: all .2s linear; 

        background-color: rgba(41, 41, 41, .6);
    }
    .modal-background-show
    {
        display: block;

        transition: all .2s linear;
    }
    .intro__wrapper
    {
        min-height: 823px;
        padding-right: 0; 
        padding-left: 0;
    }
    .intro__text-content
    {
        width: 100%;
    }
    .intro__title
    {
        font-family: inherit;
        font-size: 1.6em;
        font-weight: 400;
        line-height: 126%;

        margin: 0 auto;
        padding-top: 153px;
        padding-right: 0;
        padding-bottom: 42px;

        text-align: center; 
        letter-spacing: .11rem;
    }
    .intro__text-content p
    {
        text-align: center;
    }
    .intro__picture
    {
        left: -12px; 

        width: 81%;
    }
    .about__wrapper
    {
        padding-top: 10.5%;
        padding-bottom: 12%;
    }
    .about__text-content
    {
        width: 100%;
        margin-bottom: 13%;
    }
    .about__text-content__title
    {
        font-family: inherit;
        font-size: 1.8em;
        font-weight: 400;
        line-height: 120%;

        padding-right: 0;
        padding-bottom: 8%;

        text-align: center; 
        letter-spacing: .05rem;
    }
    .about__text-content p
    {
        display: flex;

        padding-right: 4%;
        padding-left: 12px;

        text-align: justify; 
        letter-spacing: .01rem;

        align-items: center;
    }
    .about__text-content p:nth-child(2)
    {
        padding-bottom: 8%;
    }
    .about__picture
    {
        position: relative;
        left: 0; 

        width: 260px;
        padding-left: 0;
    }
    .our-friends__slider__item.extractable-mobile
    {
        display: none;
    }
    .our-friends__wrapper
    {
        padding-top: 45px;
        padding-bottom: 13%;
    }
    .our-friends__title
    {
        font-family: inherit;
        font-size: 1.7em;
        font-weight: 400;
        line-height: 120%;

        margin-bottom: 24px;
    }
    .our-friends__slider
    {
        width: 280px;
        margin-bottom: 114px; 
        padding-bottom: 0;
    }
    .our-friends__slider__item
    {
        width: 270px;
    }
    .our-friends__slider__control--prev
    {
        top: 630px;
        left: 21%;

        margin-top: -25px;
    }
    .our-friends__slider__control--next
    {
        top: 630px;
        right: 21%;

        margin-top: -25px;

        transform: rotate(180deg);
    }
    .help__wrapper
    {
        padding-top: 14.1%;
        padding-bottom: 6%;
    }
    .help__title
    {
        font-family: inherit;
        font-size: 1.7em;
        font-weight: 400;
        line-height: 125%;

        width: 80%; 
        margin-bottom: 14%;
    }
    .help__item-container
    {
        width: 105%;
    }
    .help__item-container__item
    {
        width: 50%;
        height: 87px;
        margin-bottom: 9.3%;
    }
    .help__item-container__item img
    {
        height: 50px;
    }
    .help__item-container__item p
    {
        font-family: inherit;
        font-size: .95em;
        font-weight: 400; 
        line-height: 100%;

        padding-top: 0;
    }
    .donation__wrapper
    {
        padding-top: 13%;
        padding-bottom: 13%;
    }
    .donation__text-content
    {
        width: 95%;
    }
    .donation__text-content h2
    {
        font-family: inherit;
        font-size: 1.6em;
        font-weight: 400;
        line-height: 125%;

        width: 100%;
        padding-bottom: 23px; 

        text-align: center;
    }
    .donation__text-content p
    {
        font-family: 'Arial Regular';

        display: flex;

        width: 100%;
        margin-bottom: 14.4%; 

        text-align: justify;

        align-items: center;
    }
    .donation__text-content span
    {
        font-family: 'Arial Regular';

        margin: 0 auto; 
        padding-bottom: 8%;

        text-align: center;
        letter-spacing: 0;
    }
    .donation__text-content a
    {
        font-family: inherit;
        font-size: 1em;
        font-weight: 400;
        line-height: 120%;

        margin: 0 auto;
        margin-bottom: 6.5%;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 55px;

        letter-spacing: .06rem;
    }
    .donation__picture
    {
        width: 88%;
    }
    .pop-up__wrapper
    {
        left: 50%;

        width: 240px;
        min-height: 340px;
        margin-left: -120px;
    }
    .pop-up__picture
    {
        display: none;
    }
    .pop-up__content
    {
        display: flex;
        flex-direction: column;

        padding-left: 0;

        align-items: center;
        flex-basis: 100%;
    }
    .pop-up__content__name
    {
        text-align: center;
    }
    .pop-up__content__type
    {
        display: block;

        text-align: center;
    }
    .pop-up__content__depict
    {
        display: flex;

        width: 95%;
        padding-bottom: 5px; 

        text-align: justify;
    }
    .pop-up__content__property-list
    {
        padding-left: 25px; 

        align-self: flex-start;
    }
    .pop-up__wrapper button
    {
        right: -30px;
    }
    .footer__wrapper
    {
        flex-direction: column; 

        padding-top: 16px;
    }
    .footer__contact,
    .footer__location
    {
        width: 100%; 

        justify-content: flex-start;
        align-items: baseline;
    }
    .footer__contact span,
    .footer__location span
    {
        width: 100%; 
        padding-bottom: 10%;

        text-align: center;
    }
    .footer__contact
    {
        margin-bottom: 1.8%;
    }
    .footer__picture
    {
        width: 93%;
        height: auto;
        margin-top: 60px;
        padding-left: 5.7%;
    }
    .footer__picture img
    {
        margin: 0 auto;
    }
}
