@import "variables.scss";
@import "mixin.scss";

@font-face {
  font-weight: 500;
  font-family: 'Roboto';
  font-style: normal;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  font-style: normal;
  src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
  src: url('assets/fonts/Roboto-Bold.ttf');
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: $body-bg;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-font-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
     opacity:0;
}
.visible {
     opacity:1;
}
