
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1140px";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
//--- Font-size...

$main-font-size: 14px;

$main-line-height: 20px;

//--- Font-colors...

$main-font-color: #4E4E4E;

$second-font-color: #ffffff;

$third-font-color: #373737;

$btn-font-color: #ffffff;

$h1-color: #ffffff;

$h2-color: #373737;

$h3-color: #d15030;

$h4-color: #000000;

$article-color: #000000;

$hover-font-color: #009CC2;

$active-font-color: #000000;

//--- Btn-colors...

$btn-bg-hover-color: #009CC2;

$btn-bg-active-color: #1bc9f5;

$btn-bg: #00AFDB;

$submit-btn-bg: #ffe13e;

//--- Main-backgrounds...

$body-bg: #FFFFFF;

$background-colr-1: #000000;

$background-colr-2: #e7ebfc;

$background-colr-3: #ffffff;

$btn-background-color: #d15030;

//--- Border colors...

$main-border-color: #2d2d2d;

