@import "variables.scss";
@import "mixin.scss";

@font-face {
  font-weight: 400;
  font-family: 'Nunito';
  font-style: normal;
  src: url('../assets/fonts/nunito-regular.ttf');
}

@font-face {
  font-weight: 600;
  font-family: 'Nunito';
  font-style: normal;
  src: url('../assets/fonts/nunito-bold.ttf');
}

body {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-color: $body-bg;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-font-color;
  background-image: url('../assets/img/main.jpg');
  background-size: 100% 100%;
}

@media ($tablet-widths) {
  body {
    background-image: url('../assets/img/main-tablet.jpg');
  };
}

@media ($tablet-widths) {
  body {
    background-image: url('../assets/img/main-mobile.jpg');
  };
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  opacity:0;
}
.visible {
  opacity:1;
}
