.copyright-text {
  position: absolute;
  background-color: rgba(0,0,0, 0.3);
  text-decoration: none;
  padding: 10px;
  max-width: 200px;
  bottom: 3px;
  left: 3px;
  font-size: 1rem;
  color: transparent;
  text-shadow: 0 0 0.03em #eeeeee, 0.12em 0.06em 0.03em #00dcdc,
  -0.12em -0.06em 0.03em #ff3232;
  animation: glitch 4s ease-in-out infinite alternate;
  & a {
    text-decoration: none;
    letter-spacing: 0.06rem;
    color: #ffffff;
  }
}

@keyframes glitch {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }
  41% {
    transform: skewX(10deg);
  }
  42% {
    transform: skewX(-10deg);
  }
  59% {
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}
