@import '../mixin';

@import '../variables';

.game-board__wrapper {
  @include container();
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.3rem;
}
// Flip mechanical
.game-board__item-container {
  width: 23%;
  min-height: 350px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.game-board__item-container.is-flipped {
  transform: rotateY(180deg);
}

.game-board__item--back {
  transform: rotateY(180deg);
}

// Flip mechanical

.game-board__item {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 350px;
  border-radius: 10px;
  background-color: $background-colr-1;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  & img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    width: 86%;
    height: 70%;
  }
  & span {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: $fourth-font-color;
    font-size: 1.4rem;
    padding-top: 15px;
  }
  &:hover {
    box-shadow: 5px 5px 15px 5px #545454;
    & span {
      color: $sixth-font-color;
    }
  }
}

@media ($tablet-widths) {
  .game-board__item-container {
    width: 40%;
  }
}

@media ($mobile-widths) {
  .game-board__item-container {
    width: 80%;
  }

}
