@import '../mixin';

@import '../variables';

.main-header {
  top: 0;
  position: sticky;
  background-color: $background-colr-3;
  box-shadow: 0px -7px 47px -2px #545454;
  z-index: 10;
}

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 13% 40px 5%;
  min-height: 100px;
  will-change: transform;
  z-index: 1;
}

ul .main-header__menu-list__item__link--active::before {
  @include pseudo();
  left: 1px;
  width: 100%;
  height: 2px;
  background-color: $fourth-font-color;
}

.main-header__menu-list__item__link {
  position: relative;
  transition: 0.3s ease-in;

  &:hover {
    color: $fourth-font-color;
  }
}

.main-header__menu-list__item__link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: $second-font-color;
  transition: width 0s ease, background .35s ease;
}

.main-header__menu-list__item__link:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: $second-font-color;
  transition: width .35s ease;
}

.main-header__menu-list__item__link:hover:before {
  width: 100%;
  transition: width .35s ease;
}

.main-header__menu-list__item__link:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}


nav {
  position: absolute;
  top: 0;
  min-width: 320px;
  width: 320px;
  min-height: 100vh;
  left: -320px;
  transition: all 0.3s ease-in-out;
}

.nav-toggle {
  display: block;
  z-index: 10;
  height: 22px;
  cursor: pointer;
  position: relative;
  top: 20px;
  transition: all 0.2s ease;
}

.nav-toggle span {
  position: relative;
  display: block;
  height: 3px;
  width: 30px;
  margin-bottom: 8px;
  background-color: $main-font-color;
  transition: all .25s;
  border-radius: 5px;
}

.nav-toggle.open {
  transform: rotate(90deg);
}

nav .main-header__menu-list {
  @include zero-style();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 43.8%;
  padding-left: 50px;

  & a {
    @include zero-style();
    @include fontpref(2em, 145%, 400);
    font-family: "Arial Regular";
    letter-spacing: 0.06rem;
    font-family: inherit;
    color: $second-font-color;
    cursor: pointer;
  }
}

.main-header__menu-list__item__link--active::before {
  height: 3px;
}


@keyframes slideLeft {
  0% {
    transform: translateX(-120%)
  }

  to {
    transform: translateX(0)
  }
}

nav.collapse {
  display: flex;
  position: fixed;
  flex-direction: column;
  padding-bottom: 5%;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  background-color: $background-colr-1;
  animation: 0.2s slideLeft ease;
}

nav.closed {
  display: flex;
}

.modal-background {
  display: none;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 0;
  @include transit(all, .2s, linear);
}

.modal-background-show {
  display: block;
  @include transit(all, .2s, linear);
}

// GAME SWITCHER

.on-off-toggle {
  width: 56px;
  height: 24px;
  position: relative;
  display: block;
  z-index: -1;
}

.on-off-toggle__slider {
  position: relative;
  top: 12px;
  width: 96px;
  height: 36px;
  display: block;
  border-radius: 34px;
  background-color: $background-colr-1;
  transition: background-color 0.4s;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    background-color: #fff;
    box-shadow: 0 0 0 1px #949494;
    bottom: 3px;
    height: 30px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 30px;
    z-index: 5;
    border-radius: 100%;
  }

  &:after {
    display: block;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    content: 'train';
    color: #484848;
    font-size: 1rem;
    padding-left: 34px;
    padding-top: 6px;
    transition: all 0.4s;
  }

}

.on-off-toggle__input {
  /*
    This way of hiding the default input is better
    for accessibility than using display: none;
  */
  position: absolute;
  opacity: 0;
}

.on-off-toggle__input:checked +
.on-off-toggle__slider {
  background-color: $background-colr-2;

  &:before {
    transform: translateX(60px);
  }

  &:after {
    content: 'play';
    font-size: 1.2rem;
    color: #FFFFFF;
    padding-left: 8px;
  }
}

/*** END CSS NEEDED FOR SWITCHER **/

nav.collapse--game {
  background: #d6249f;
  background: radial-gradient(circle at 107% 30%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
